@{ 
    Token currentUser = ViewBag.currentUser;
    var imagemUsuario = currentUser.UserToken.LinkImagem is null ? "/css/img/Usuario.jpg" : currentUser.UserToken.LinkImagem;
}

<div class="container" onclick="minhaFuncao()">
    <img src="@imagemUsuario" alt="Usuario" class="barra_usuario">
</div>
<div class="Dropdown-Conteudo">
    <div class="conteudo">
        <div class="nome">@currentUser.UserToken.Nome</div>
    </div>
    <ul class="Links"style="padding-inline-start: 0px!important;">
        <li><a asp-controller="Configuracoes" asp-action="Index"><i class="fa fa-cog" aria-hidden="true"></i>Configurações</a></li>
        <div class="divisao"></div>
        <li><a asp-controller="Home" asp-action="Logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Sair</a></li>
    </ul>
</div>
