<!--começo da barra lateral-->
<form asp-controller="Home" asp-action="Amigos">
    <div class="barra-pesquisa">
        <input name="nome" type="text" placeholder="Pesquise um usuário">
    </div>
</form>
<div class="divisao_tab"></div>
<div class="barra-lateral-opcao">
    <i class="fa fa-home icone" aria-hidden="true"></i>
    <h4>Início</h4>
</div>

<div class="barra-lateral-opcao">
    <i class="fa fa-users icone" aria-hidden="true"></i>
    <h4>Lista de Amigos</h4>
</div>

<div class="barra-lateral-titulo">
    <i class="fa fa-arrow-down icone" aria-hidden="true"></i>
    <h5>Chats Privados</h5>
</div>
<div class="barra-lateral-interna">

    <div class="barra-lateral-opcao">
        <i class="fa fa-user-circle icone" aria-hidden="true"></i>
        <h4>Usuário 1</h4>
    </div>
    <div class="barra-lateral-opcao">
        <i class="fa fa-user-circle icone" aria-hidden="true"></i>
        <h4>Usuário 1</h4>
    </div>
    <div class="barra-lateral-opcao">
        <i class="fa fa-user-circle icone" aria-hidden="true"></i>
        <h4>Usuário 1</h4>
    </div>
    <div class="barra-lateral-opcao">
        <i class="fa fa-user-circle icone" aria-hidden="true"></i>
        <h4>Usuário 1</h4>
    </div>
    <div class="barra-lateral-opcao">
        <i class="fa fa-user-circle icone" aria-hidden="true"></i>
        <h4>Usuário 1</h4>
    </div>
    <div class="barra-lateral-opcao">
        <i class="fa fa-user-circle icone" aria-hidden="true"></i>
        <h4>Usuário 1</h4>
    </div>
    <div class="barra-lateral-opcao">
        <i class="fa fa-user-circle icone" aria-hidden="true"></i>
        <h4>Usuário 1</h4>
    </div>
    <div class="barra-lateral-opcao">
        <i class="fa fa-user-circle icone" aria-hidden="true"></i>
        <h4>Usuário 1</h4>
    </div>
    <div class="barra-lateral-opcao">
        <i class="fa fa-user-circle icone" aria-hidden="true"></i>
        <h4>Usuário 1</h4>
    </div>
    <div class="barra-lateral-opcao">
        <i class="fa fa-user-circle icone" aria-hidden="true"></i>
        <h4>Usuário 1</h4>
    </div>
    <div class="barra-lateral-opcao">
        <i class="fa fa-user-circle icone" aria-hidden="true"></i>
        <h4>Usuário 1</h4>
    </div>
    <div class="barra-lateral-opcao">
        <i class="fa fa-user-circle icone" aria-hidden="true"></i>
        <h4>Usuário 1</h4>
    </div>
    <div class="barra-lateral-opcao">
        <i class="fa fa-user-circle icone" aria-hidden="true"></i>
        <h4>Usuário 1</h4>
    </div>
    <div class="barra-lateral-opcao">
        <i class="fa fa-user-circle icone" aria-hidden="true"></i>
        <h4>Usuário 1</h4>
    </div>
    <div class="barra-lateral-opcao">
        <i class="fa fa-user-circle icone" aria-hidden="true"></i>
        <h4>Usuário 1</h4>
    </div>
    <div class="barra-lateral-opcao">
        <i class="fa fa-user-circle icone" aria-hidden="true"></i>
        <h4>Usuário 1</h4>
    </div>
    <div class="barra-lateral-opcao">
        <i class="fa fa-user-circle icone" aria-hidden="true"></i>
        <h4>Usuário 1</h4>
    </div>
    <div class="barra-lateral-opcao">
        <i class="fa fa-user-circle icone" aria-hidden="true"></i>
        <h4>Usuário 1</h4>
    </div>
    <div class="barra-lateral-opcao">
        <i class="fa fa-user-circle icone" aria-hidden="true"></i>
        <h4>Usuário 1</h4>
    </div>
    <div class="barra-lateral-opcao">
        <i class="fa fa-user-circle icone" aria-hidden="true"></i>
        <h4>Usuário 1</h4>
    </div>
</div>
