<div class="fundo" id="fundo">
    <div class="modal alinhar-centro">
        <div class="titulo-modal">
            Você recebeu um pedido de amizade de Caio!
            <button class="botao-modal">
                <i class="fa fa-times"></i>
            </button>
        </div>
        <div class="divisao_tab"></div>
        <div class="corpo-modal">
            Caio enviou-lhe um pedido de amizade, deseja aceitar?
        </div>
        <div class="divisao_tab"></div>
        <div class="opcoes-modal">
            <button class="botao-modal">Aceitar</button>
            <button class="botao-modal botao-vermelho">Recusar</button>
        </div>
    </div>
</div>