@{
    ViewData["Title"] = "Suporte";
}

<link rel="stylesheet" href="~/css/Suport.css" />

<div class="tudo">
    <div class="botao2">
        <h3>DÚVIDAS FREQUENTES</h3>
    </div>

    <div class="forum">
        <div class="botoes">
            <a href="https://pindoramapji213.wixsite.com/my-site/sobre-n%C3%B3s" class="botao">Quem Somos nós?</a>
            <a href="https://pindoramapji213.wixsite.com/my-site/post/how-reading-changes-your-perspective" class="botao">Como Excluir minha Conta?</a>
            <a href="https://pindoramapji213.wixsite.com/my-site/post/the-art-of-writing" class="botao">Como Adquirir um Jogo?</a>
            <a href="https://pindoramapji213.wixsite.com/my-site/post/the-traitor-s-daughter" class="botao">Como Publicar um Jogo?</a>
            <a href="https://pindoramapji213.wixsite.com/my-site/post/you-want-your-child-to-read-these-books" class="botao">Como Editar meu Perfil?</a>
            <a href="https://pindoramapji213.wixsite.com/my-site/post/my-new-digital-reading-habits" class="botao">Como editar jogos publicados?</a>
        </div>
    </div>
</div>
