@{
    ViewData["Title"] = "Suporte";
}

<link rel="stylesheet" href="~/css/Suport.css" />

<div class="tudo">
    <div class="botao2">
        <h3>DÚVIDAS FREQUENTES</h3>
    </div>

    <div class="botao1_espaco">
        <a href="" class="botao1">Nos Contate </a>
    </div>

    <div class="forum">
        <div class="botoes">
            <a href="" class="botao">Quem Somos nós?</a>
            <a href="" class="botao">Como Excluir minha Conta?</a>
            <a href="" class="botao">Como Mudar meu Nome?</a>
            <a href="" class="botao">Como Adquirir um Jogo?</a>
            <a href="" class="botao">Como Publicar um Jogo?</a>
            <a href="" class="botao">Como Excluir um Jogo Publicado?</a>
            <a href="" class="botao">Onde meus Jogos são Armazenados?</a>
            <a href="" class="botao">Como Excluir um Jogo da Biblioteca?</a>
            <a href="" class="botao">Como Editar meu Perfil?</a>
            <a href="" class="botao">Como Escrever uma Dúvida?</a>
            <a href="" class="botao">Regras da Plataforma</a>
        </div>
    </div>
</div>
