@{
    Layout = "_Layout";
}
@model User
<link rel="stylesheet" href="~/css/configuracoes.css" />

<div class="alinhar-centro">
    <h1 class="center white-text config-title">Configurações da conta</h1>
    <div class="divisao_tab"></div>

    <div class="config">
        <nav class="tabs">
            <a asp-action="Index" class="botao-nav selecionado" id="info">Editar perfil</a>
            <div class="divisao_tab"></div>
            <a asp-action="AlterarSenha" class="botao-nav" id="alterar-senha">Alterar senha</a>
            <div class="divisao_tab"></div>
            <a asp-action="DeletarConta" class="botao-nav" id="deletar">Deletar conta</a>
        </nav>
        <div class="divisao-vertical"></div>
        <section class="conteudo-tabs">
            <section class="conteudo-inner main">
                @RenderBody()
            </section>
        </section>
    </div>
</div>
<script>
    let botoes = document.getElementsByClassName("botao-nav");

    function mostrarAba(x) {
        for (let i = 0; i < 3; i++) {
            if (i == x) {
                botoes[i].classList = "botao-nav selecionado";
            } else {
                botoes[i].classList = "botao-nav";
            }
        }
    }
</script>
