@using Pindorama.Auth
@inject AuthService auth;
@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/configuracoes.css" />

<div class="alinhar-centro">
    <h1 class="center white-text config-title">Configurações da conta</h1>
    <div class="divisao_tab"></div>

    <div class="config">
        <nav class="tabs">
            <a asp-action="Index" class="botao-nav selecionado" id="info">Editar perfil</a>
            <div class="divisao_tab"></div>
            <a asp-action="AlterarSenha" class="botao-nav" id="alterar-senha">Alterar senha</a>
            @if(await auth.IsPf() || await auth.IsPj()){
                <div class="divisao_tab"></div>
                <a asp-action="VerJogos" class="botao-nav" id="jogos">Jogos</a>
                <div class="divisao_tab"></div>
                <a asp-action="AdicionarJogo" class="botao-nav" id="AdicionarJogo">Adicionar Jogo</a>
            } 
            else
            {
                <div class="divisao_tab"></div>
                <a asp-action="DeletarConta" class="botao-nav" id="deletar">Deletar conta</a>
            }
        </nav>
        <div class="divisao-vertical"></div>
        <section class="conteudo-tabs">
            <section class="conteudo-inner main">
                @if(ViewBag.status is not null) { 
                    <span class="white-text" style="font-weight: 900">@ViewBag.status</span>
                }
                @RenderBody()
            </section>
        </section>
    </div>
</div>