@{
    Layout = "_Configuracoes";
    ViewData["Title"] = "Adicionar Jogos";
}

<link rel="stylesheet" href="~/css/ConfiguracoesAdicionarJogos.css" />


<div class="container2">
    <!-- Caixa do login -->

    <form class="container2">
        <!-- Pode adicionar classes no form, mas não o delete!! -->

        <h2 class=>Mídias de Divulgação</h2>

        <h3>Perfil</h3>
        <label for="nome">Trailer do Jogo: </label> <!-- Texto que aparece antes da caixa de entrada -->
        <input type="link" name="nome" id="nome" class="input_login" placeholder="Coloque aqui o link do trailer"> <!-- Caixa de entrada do nome -->


        <label for="nome">Banner: </label>
        <input type="text" name="email" id="nome" class="input_login" placeholder="Coloque aqui o link do banner"> <!-- Caixa de entrada do email -->

        <h3>Slide</h3>
        <label for="senha">Imagem 1:</label>
        <input type="text" name="senha" id="senha" class="input_login" placeholder="Coloque aqui o link da imagem 1"> <!-- Caixa de entrada da senha -->

        <label for="nascimento">Imagem 2: </label>
        <input type="text" name="nascimento" id="nascimento" class="input_login" placeholder="Coloque aqui o link da imagem 2"> <!-- Caixa de entrada da data de nascimento -->

        <label for="nascimento">Imagem 3: </label>
        <input type="text" name="nascimento" id="nascimento" class="input_login" placeholder="Coloque aqui o link da imagem 3"> <!-- Caixa de entrada da data de nascimento -->

        <h2>Dados Técnicos</h2>

        <label for="nome">Nome: </label> <!-- Texto que aparece antes da caixa de entrada -->
        <input type="text" name="nome" id="nome" class="input_login" placeholder="Coloque aqui o nome do jogo">

        <label for="nome">Preço: </label> <!-- Texto que aparece antes da caixa de entrada -->
        <label for="nome">*para jogos gratuitos digite 0,00* </label>
        <input type="price" name="nome" id="nome" class="input_login" placeholder="Coloque aqui o preço do jogo">

        <label for="nome">Desenvolvedor: </label> <!-- Texto que aparece antes da caixa de entrada -->
        <input type="text" name="nome" id="nome" class="input_login" placeholder="Coloque aqui o nome do desenvolvedor">

        <label for="nome">Distribuidora </label> <!-- Texto que aparece antes da caixa de entrada -->
        <input type="link" name="nome" id="nome" class="input_login" placeholder="Coloque aqui o nome da distribuidora">

        <label for="nome">Descrição: </label>
        <input type="text" name="nome" id="nome" class="descricao" placeholder="Coloque aqui a descrição do jogo">


        <input class="botao2" type="submit" value="Editar" />

    </form>
</div>
