@{
    Layout = "_Configuracoes";
    ViewData["Title"] = "Editar informações";
}
@model UsuarioDTO
<center class="white-text margem-baixo-leve">
    Você pode editar seu perfil aqui. Para alterar qualquer informação, basta
    alterar a informação já existente nas caixas de texto e apertar o botão abaixo. Cuidado, qualquer
    informação que você alterar irá ser salva após apertar o botão.
</center>
<center class="white-text margem-baixo-leve">
    Para editar sua foto de perfil, basta inserir o link para a mesma no campo
    "Link da imagem de perfil".
</center>
<form class="conteudo-inner" asp-action="Index">
    <div class="conteudo-input">
        <div class="input">
            <span class="text-danger" asp-validation-for="LinkImagem"></span>
            <label asp-for="LinkImagem" class="config-label white-text"></label>
            <input asp-for="LinkImagem" class="config-input" />
        </div>

        <div class="input">
            <span class="text-danger" asp-validation-for="UserName"></span>
            <label asp-for="UserName" class="config-label white-text"></label>
            <input asp-for="UserName" class="config-input" required />
        </div>

        <div class="input">
            <span class="text-danger" asp-validation-for="Email"></span>
            <label asp-for="Email" class="config-label white-text"></label>
            <input asp-for="Email" class="config-input" required />
        </div>

        <div class="input">
            <span class="text-danger" asp-validation-for="DataNascimento"></span>
            <label asp-for="DataNascimento" class="config-label white-text"></label>
            <input asp-for="DataNascimento" class="config-input" required />
        </div>
    </div>
    <button type="submit" class="botao">Confirmar alterações</button>
</form>
<script src="~/js/Configuracao.js"></script>
<script>
    mostrarAba(0);
</script>
