@{
    Layout = "_Configuracoes";
    ViewData["Title"] = "Jogos";
}

<link rel="stylesheet" href="~/css/ConfiguracoesJogos.css" />

<div class="tudo">
    <div class="conteiner">
        <div class="jogo">
            <image src="https://cdn.cloudflare.steamstatic.com/steam/apps/1517290/header.jpg?t=1633525745" alt="" class="row__poster "></image>
        </div>

        <div class="botoes">
            <form asp-action="EditarJogo" asp-route-id="" method="get">
                <button type="submit" class="editarJogo">Editar jogo</button>
            </form>
            <button class="excluirJogo ">Excluir jogo</button>
        </div>
    </div>

    <div class="conteiner">
        <div class="jogo">
            <image src="https://cdn.cloudflare.steamstatic.com/steam/apps/1517290/header.jpg?t=1633525745" alt="" class="row__poster "></image>
        </div>

        <div class="botoes">
            <form asp-action="EditarJogo" asp-route-id="" method="get">
                <button type="submit" class="editarJogo">Editar jogo</button>
            </form>
            <button class="excluirJogo ">Excluir jogo</button>
        </div>
    </div>
</div>


<script src="~/js/Configuracao.js"></script>
<script>
    mostrarAba(3);
</script>