
<link rel="stylesheet" href="~/css/biblioteca.css"/>

<div class="corpo">
    <div class="cartao">
        <center class="white-text">Compra realizada com sucesso! <a asp-controller="Library" asp-action="Index" class="text-danger">Clique aqui</a> para ver seus jogos comprados na biblioteca, ou <a asp-action="Index" class="text-danger">aqui</a> para comprar mais!</center>
    </div>
</div>
