@model List<Postagem>
<link href="~/css/Forum.css" rel="stylesheet" type="text/css" />

<!--começo da barra superior-->
<div class="barra-nav">
    <div class="barra-pesquisa">
        <input type="text" placeholder="Pesquise um usuário">
    </div>
</div>
<!--fim barra superior-->
<div class="tudo">

    <div class="forum">

        <!--Título da Página início-->
        <div class="inicio">
            <div class="inicioHeader">
                <h2>Forum</h2>
            </div>
        </div>
        <!--Título da Página fim-->
        <!--começo do post-->
        <div class="CaixaTexto">
            <form>
                <div class="CaixaTextoInput">
                    <img src="https://www.tecnipecas.com.br/assets/img/avatar.png" alt="">
                    <textarea type="text" placeholder="O que você está pensando?"></textarea>
                </div>
                <button class="Botao">Postar</button>
            </form>
        </div>
        <!--fim do post-->
        <!--começo dos posts-->
        <div class="post">
            <div class="postCorpo">
                <div class="postUser">
                    <img src="https://eduandrade.com/wp-content/themes/blog/assets/image/user.png" alt="">
                </div>
                <div class="postHeader">
                    <div class="postText">
                        <h3>Psyon </h3>
                    </div>
                    <div class="descricao">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta architecto non fugit alias!</p>
                    </div>

                    <div class="reacoes">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <i class="fa fa-share" aria-hidden="true"></i>
                        <i class="fa fa-comment" aria-hidden="true"></i>
                        <i class="fa fa-flag" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <!--fim dos posts-->
        <!--começo dos posts-->
        <div class="post">
            <div class="postCorpo">
                <div class="postUser">
                    <img src="https://eduandrade.com/wp-content/themes/blog/assets/image/user.png" alt="">
                </div>
                <div class="postHeader">
                    <div class="postText">
                        <h3>Alexzin </h3>
                    </div>
                    <div class="descricao">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta architecto non fugit alias!</p>
                    </div>

                    <div class="reacoes">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <i class="fa fa-share" aria-hidden="true"></i>
                        <i class="fa fa-comment" aria-hidden="true"></i>
                        <i class="fa fa-flag" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <!--fim dos posts-->
        <!--começo dos posts-->
        <div class="post">
            <div class="postCorpo">
                <div class="postUser">
                    <img src="https://eduandrade.com/wp-content/themes/blog/assets/image/user.png" alt="">
                </div>
                <div class="postHeader">
                    <div class="postText">
                        <h3>Xaolim </h3>
                    </div>
                    <div class="descricao">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta architecto non fugit alias!</p>
                    </div>

                    <div class="reacoes">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <i class="fa fa-share" aria-hidden="true"></i>
                        <i class="fa fa-comment" aria-hidden="true"></i>
                        <i class="fa fa-flag" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <!--fim dos posts-->
        <!--começo dos posts-->
        <div class="post">
            <div class="postCorpo">
                <div class="postUser">
                    <img src="https://eduandrade.com/wp-content/themes/blog/assets/image/user.png" alt="">
                </div>
                <div class="postHeader">
                    <div class="postText">
                        <h3>James Bond </h3>
                    </div>
                    <div class="descricao">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta architecto non fugit alias!</p>
                    </div>

                    <div class="reacoes">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <i class="fa fa-share" aria-hidden="true"></i>
                        <i class="fa fa-comment" aria-hidden="true"></i>
                        <i class="fa fa-flag" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <!--fim dos posts-->
    </div>


    <!--começo das notícias-->
    <div class="noticias">

        <div class="noticiasTitulo">
            <h2>Notícias</h2>
        </div>

        <div class="news">
            <div class="noticiasContainer">
                <blockquote class="twitter-tweet" data-conversation="none" data-lang="pt" data-theme="dark"><p lang="en" dir="ltr">Enamel Pin close-ups! <a href="https://t.co/Zb2722KwV8">pic.twitter.com/Zb2722KwV8</a></p>&mdash; Team Cherry<a href="https://twitter.com/TeamCherryGames/status/1182098724933124097?ref_src=twsrc%5Etfw">10 de outubro de 2019</a></blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

            <div class="noticiasContainer">
                <blockquote class="twitter-tweet" data-lang="pt" data-theme="dark"><p lang="pt" dir="ltr">Game leva heróis de &#39;LoL&#39; a jogo de cartas para celulares e computadores =&gt; <a href="https://t.co/6Yn1y72tKo">https://t.co/6Yn1y72tKo</a> <a href="https://twitter.com/hashtag/G1?src=hash&amp;ref_src=twsrc%5Etfw">#G1</a> <a href="https://t.co/IwsJN1ujKF">pic.twitter.com/IwsJN1ujKF</a></p>&mdash; g1 <a href="https://twitter.com/g1/status/1256040643626967045?ref_src=twsrc%5Etfw">1 de maio de 2020</a></blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
    <!--fim das notícias-->

</div>