@model List<Game>

<link href="~/css/Comunidade.css" rel="stylesheet" />

<div class="absolutamente-tudo">
    <h1>Comunidades</h1>
    <div class="cartoes">
    @foreach(Game game in Model){
        <a asp-action="GameForum" asp-route-id="@game.Id" class="cartao-jogo" style="background: url(@game.LinkLogo)">
            <div class="blur">
                <p>@game.Nome</p>
            </div>
        </a>
    }
    </div>
</div>