@model List<Usuario>
@{
    List<Usuario> amigos = ViewBag.Amigos;
    List<Usuario> semiAmigos = ViewBag.Pendentes;
    ViewData["Title"] = "Resultados de busca";
}
<div class="lista">
    @if (Model.Count > 0)
    {
        <h1 class="white-text">Resultados</h1>
        <table>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            @foreach (Usuario usuario in Model)
            {
                var perfil = usuario.LinkImagem is null ? "https://www.tecnipecas.com.br/assets/img/avatar.png" : usuario.LinkImagem;
        <tr class="pessoa">
            <td><img src="@perfil" alt="Avatar"></td>
            <td><h2>@usuario.UserName</h2></td>
            <td>
                @if (amigos.Contains(usuario))
                {
                    <button class="Botao">Iniciar conversa</button>

                }
                else if (semiAmigos.Contains(usuario))
                {
                    <button class="Botao" disabled>Pedido pendente....</button>
                }
                else
                {

                    <button type="submit" class="Botao submit-request" id="@usuario.Id">Adicionar amigo</button>
                }
                <button class="Botao">Ver perfil</button>
            </td>
        </tr>
        }
    </table>
    }
    else
    {
        <h1 class="white-text">Não há pessoas com esse nome de usuário, tente novamente!</h1>
    }
</div>