@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/login.css">
</head>

@model User
<body>
    <div class="corpo">
        <div class="container">
            <h3 class="titulo">Criar conta</h3>
            <span class="erro">@ViewBag.Erro</span>
            <form class="container" asp-action="Cadastro">

                <span class="text-danger" asp-validation-for="Email"></span>
                <label class="label" asp-for="Email"></label>
                <input asp-for="Email" type="email" class="input_login" placeholder="a@b.com..." />

                <span class="text-danger" asp-validation-for="Nome"></span>
                <label class="label" asp-for="Nome"></label>
                <input asp-for="Nome" class="input_login" placeholder="Nome..."/>

                <span class="text-danger" asp-validation-for="Senha"></span>
                <label class="label" asp-for="Senha"></label>
                <input asp-for="Senha" type="password" class="input_login"/>

                <span class="text-danger" asp-validation-for="DataNascimento"></span>
                <label class="label" asp-for="DataNascimento"></label>
                <input asp-for="DataNascimento" type="date" class="input_login" />

                <div class="container">
                    <button class="botao" type="submit">Entrar!</button>
                    <a asp-action="Index" class="botao botao-segundario">Já tem uma conta? Entre!</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>