

.biblioteca {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.corpo {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.cartao {
    background-color: #455e87;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 1%;
    height: 40vh;
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
}

.botoes-confirmacao {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.botao-confirmacao {
    padding: 20px;
    background-color: #001233;
    color: #e1e5f2;
    cursor: pointer;
    border-radius: 12px;
}
    .botao-confirmacao:hover {
        color: #000;
        background-color: #e1e5f2;
        transition: all 0.2s;
    }

.inicio {
    flex: 0.5;
    margin-left: 1px;
    margin-top: -60px;
    min-width: fit-content;
    overflow-y: scroll;
}

.inicioHeader {
    top: 0;
    background-color: #212d40;
    z-index: 100;
    border: 1px solid #212d40;
    padding: 15px 20px;
    margin-top: 60px;
    border-bottom: 1px solid #6163697a;
}

.inicio::-webkit-scrollbar {
    display: none;
}

.inicioHeader h2 {
    font-size: 30px;
    font-weight: 800;
    color: #e1e5f2;
}

.fotocapa > img {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    width: -webkit-fill-available;
    height: 36rem;
    border-radius: 10px
}

.button {
    margin-left: 1px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #42e655;
    border: none;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 10px;
}

.buttons {
    margin-left: 10px;
}

.popup {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.327);
    background-color: rgba(80, 80, 80, 0.272);
    backdrop-filter: blur(50px);
    margin-top: 10px;
    height: 100%;
    position: relative;
    left: 0;
    top: 25%;
    transition: 0.6s cubic-bezier(0, 0, 0, 1);
}

button:hover {
    background-color: #e9ebee;
    border-radius: 10px;
    color: #2f2f2f;
    transition: color 100ms ease-out;
    cursor: pointer;
}

.buttons > h2 {
    color: #e9ebee;
    margin-left: 150px;
    margin-top: -40px;
}

.buttons {
    margin-bottom: 10px;
}

@keyframes popup{
    from{width: 0; height: 0;}
    to {width: 100%; height: 100%;}
}

.not-visible {
    animation-name: popup;
    animation-duration: 4s;
}
