* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #212d40;
    margin: 0;
    min-height: calc(100vh - 40px);
    background-image: url('/css/img/pexels-mo-9934462 (1).jpg');
}

.tudo {
    display: grid;
    grid-template-areas:
        "x x"
        "a a"
        "b c"
        "b d";
}

a {
    text-decoration: none;
}

.x {
    height: 60px;
}

.icone {
    padding: 20px;
}

.barra-nome {
    grid-area: c;
    position: fixed;
    z-index: -3;
    width: 100%;
    height: 50px;
    margin-left: 300px;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.313);
    backdrop-filter: blur(5px);
}

.Pessoa img {
    border-radius: 50%;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
}

.Pessoa h2 {
    font-size: 15px;
    margin-bottom: 1px;
    margin-top: -40px;
    margin-left: 55px;
}

.barra-mensagem {
    grid-area: e;
    position: fixed;
    bottom: 0px;
    z-index: -3;
    width: 100%;
    height: 70px;
    margin-left: 301px;
    background-color: rgba(255, 255, 255, 0.313);
    backdrop-filter: blur(5px);
}

    .barra-mensagem .Msg > input {
        padding: 10px 10px;
        border: none;
        width: 73%;
        border-radius: 5px;
        outline: none;
        background-color: white;
        margin-left: 30px;
        margin-top: 20px;
    }

.Msg > img {
    margin-top: 25px;
    margin-left: 90px;
    height: 30px;
    width: 30px;
}

/* Chat containers */
.container-chat {
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    margin-left: 350px;
    margin-right: 940px;
    background-color: #e1e5f2;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
}

/* Darker chat container */
.container-darker {
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    margin-left: 1190px;
    margin-right: 57px;
    background-color: #b5cdfd;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
}

    .container-darker::after {
        content: "";
        clear: both;
        display: table;
    }

/* Clear floats */
.container-chat::after {
    content: "";
    clear: both;
    display: table;
}

.container-darker img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

    .container-darker img.right {
        float: right;
        margin-left: 20px;
        margin-right: 0;
    }

.container-dark time-right {
    float: right;
    color: #aaa;
}

.container-dark time-left {
    float: left;
    color: #999;
}

/* Style images */
.container-chat img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

    /* Style the right image */
    .container-chat img.right {
        float: right;
        margin-left: 20px;
        margin-right: 0;
    }

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}

.dialogo {
    grid-area: d;
    margin-top: 148px;
    z-index: -999;
    margin-bottom: 70px;
}

@media screen and (max-width: 1500px) {

    .container {
        border-radius: 10px;
        padding: 15px;
        margin: 10px 0;
        margin-left: 350px;
        margin-right: 700px;
        background-color: #e1e5f2;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    }

    .container-darker {
        border-radius: 10px;
        padding: 15px;
        margin: 10px 0;
        margin-left: 900px;
        margin-right: 57px;
        background-color: #b5cdfd;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    }

        .container-darker img {
            float: left;
            max-width: 50px;
            width: 100%;
            margin-right: 20px;
            border-radius: 50%;
        }

    .container img {
        float: left;
        max-width: 50px;
        width: 100%;
        margin-right: 20px;
        border-radius: 50%;
    }

    .barra-mensagem {
        position: fixed;
        bottom: 0px;
        z-index: -3;
        width: 95%;
        height: 70px;
        margin-left: 250px;
        background-color: rgba(255, 255, 255, 0.313);
        backdrop-filter: blur(5px);
    }
}

@media screen and (max-width: 1300px) {
    .barra-lateral-titulo {
        display: flex;
        align-items: center;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #616369;
    }

    .barra-lateral-opcao {
        font-weight: 800;
        font-size: 15px;
        margin-right: 20px;
        color: #e1e5f2;
    }

    .barra-lateral {
        border-right: 1px solid #4647478b;
        position: fixed;
        height: 100%;
        z-index: -1;
        padding-left: 20px;
        padding-right: 20px;
        width: 220px;
        box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.443);
        background-color: #212d40;
    }

    .container {
        border-radius: 10px;
        padding: 15px;
        margin: 10px 0;
        margin-left: 350px;
        margin-right: 600px;
        background-color: #e1e5f2;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    }

    .container-darker {
        border-radius: 10px;
        padding: 15px;
        margin: 10px 0;
        margin-left: 800px;
        margin-right: 57px;
        background-color: #b5cdfd;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    }

        .container-darker img {
            float: left;
            max-width: 40px;
            width: 100%;
            margin-right: 20px;
            border-radius: 50%;
        }

    .container img {
        float: left;
        max-width: 40px;
        width: 100%;
        margin-right: 20px;
        border-radius: 50%;
    }

    .barra-nome {
        margin-left: 220px;
    }

    .barra-mensagem {
        position: fixed;
        bottom: 0px;
        z-index: -3;
        width: 90%;
        height: 70px;
        margin-left: 220px;
        background-color: rgba(255, 255, 255, 0.313);
        backdrop-filter: blur(5px);
    }
}

@media screen and (max-width: 1100px) {
    .barra-lateral-titulo {
        display: flex;
        align-items: center;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #616369;
    }

    .barra-lateral-opcao {
        font-weight: 800;
        font-size: 15px;
        margin-right: 20px;
        color: #e1e5f2;
    }

    .barra-lateral {
        border-right: 1px solid #4647478b;
        position: fixed;
        height: 100%;
        z-index: -1;
        padding-left: 20px;
        padding-right: 20px;
        width: 220px;
        box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.443);
        background-color: #212d40;
    }

    .container {
        border-radius: 10px;
        padding: 15px;
        margin: 10px 0;
        margin-left: 350px;
        margin-right: 400px;
        background-color: #e1e5f2;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    }

    .container-darker {
        border-radius: 10px;
        padding: 15px;
        margin: 10px 0;
        margin-left: 680px;
        margin-right: 57px;
        background-color: #b5cdfd;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    }

        .container-darker img {
            float: left;
            max-width: 40px;
            width: 100%;
            margin-right: 20px;
            border-radius: 50%;
        }

    .container img {
        float: left;
        max-width: 40px;
        width: 100%;
        margin-right: 20px;
        border-radius: 50%;
    }

    .barra-nome {
        margin-left: 220px;
    }

    .barra-mensagem {
        position: fixed;
        bottom: 0px;
        z-index: -3;
        width: 85%;
        height: 70px;
        margin-left: 220px;
        background-color: rgba(255, 255, 255, 0.313);
        backdrop-filter: blur(5px);
    }

    .barra-nav .barra-pesquisa > input {
        padding: 10px 10px;
        border: none;
        border-radius: 5px;
        outline: none;
        background-color: #4647478b;
        margin-top: 7px;
    }
}

@media screen and (max-width: 1000px) {
    .barra-lateral-titulo {
        display: flex;
        align-items: center;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #616369;
    }

    .barra-lateral-opcao {
        font-weight: 800;
        font-size: 15px;
        margin-right: 20px;
        color: #e1e5f2;
    }

    .barra-lateral {
        border-right: 1px solid #4647478b;
        position: fixed;
        height: 100%;
        z-index: -1;
        padding-left: 20px;
        padding-right: 20px;
        width: 220px;
        box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.443);
        background-color: #212d40;
    }

    .container {
        border-radius: 10px;
        padding: 15px;
        margin: 10px 0;
        margin-left: 250px;
        margin-right: 400px;
        width: 200px;
        background-color: #e1e5f2;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    }

    .container-darker {
        border-radius: 10px;
        padding: 15px;
        margin: 10px 0;
        margin-left: 600px;
        margin-right: 57px;
        width: 200px;
        background-color: #b5cdfd;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    }

        .container-darker img {
            float: left;
            max-width: 30px;
            width: 100%;
            margin-right: 20px;
            border-radius: 50%;
        }

    .container img {
        float: left;
        max-width: 30px;
        width: 100%;
        margin-right: 20px;
        border-radius: 50%;
    }

    .barra-nome {
        margin-left: 220px;
    }

    .barra-mensagem {
        position: fixed;
        bottom: 0px;
        z-index: -3;
        width: 85%;
        height: 70px;
        margin-left: 220px;
        background-color: rgba(255, 255, 255, 0.313);
        backdrop-filter: blur(5px);
    }

    .barra-nav .barra-pesquisa > input {
        padding: 10px 10px;
        border: none;
        border-radius: 5px;
        outline: none;
        background-color: #4647478b;
        margin-top: 7px;
    }
}

@media screen and (max-width: 900px) {
    .barra-lateral-titulo {
        display: flex;
        align-items: center;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #616369;
    }

    .barra-lateral-opcao {
        font-weight: 800;
        font-size: 15px;
        margin-right: 20px;
        color: #e1e5f2;
    }

    .barra-lateral {
        border-right: 1px solid #4647478b;
        position: fixed;
        height: 100%;
        z-index: -1;
        padding-left: 20px;
        padding-right: 20px;
        width: 220px;
        box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.443);
        background-color: #212d40;
    }

    .container {
        border-radius: 10px;
        padding: 15px;
        margin: 10px 0;
        margin-left: 250px;
        margin-right: 400px;
        width: 200px;
        background-color: #e1e5f2;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    }

    .container-darker {
        border-radius: 10px;
        padding: 15px;
        margin: 10px 0;
        margin-left: 600px;
        margin-right: 57px;
        width: 200px;
        background-color: #b5cdfd;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    }

        .container-darker img {
            float: left;
            max-width: 30px;
            width: 100%;
            margin-right: 20px;
            border-radius: 50%;
        }

    .container img {
        float: left;
        max-width: 30px;
        width: 100%;
        margin-right: 20px;
        border-radius: 50%;
    }

    .barra-nome {
        margin-left: 180px;
    }

    .barra-mensagem {
        position: fixed;
        bottom: 0px;
        z-index: -3;
        width: 80%;
        height: 70px;
        margin-left: 180px;
        background-color: rgba(255, 255, 255, 0.313);
        backdrop-filter: blur(5px);
    }

    .barra-nav .barra-pesquisa > input {
        padding: 10px 10px;
        border: none;
        border-radius: 5px;
        outline: none;
        background-color: #4647478b;
        width: 400px;
        margin-top: 7px;
    }

    .barra-lateral {
        top: 100px;
        border-right: 1px solid #4647478b;
        position: fixed;
        height: 100%;
        z-index: 99;
        padding-left: 20px;
        padding-right: 20px;
        width: 180px;
        box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.443);
        background-color: #212d40;
    }
}

.dropdown {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 20px;
}

    .dropdown .container {
        display: flex;
        width: 80px;
        height: 80px;
        justify-content: center;
    }

        .dropdown .container img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            box-shadow: 2px 2px 5px rgba(0,0,0,.3);
            cursor: pointer;
        }

    .dropdown .Dropdown-Conteudo {
        background: #fff;
        padding: 20px 30px;
        border-radius: 10px;
        margin-top: 20px;
        position: relative;
        box-shadow: 0 5px 5px rgba(0,0,0,.3);
        transform: translateY(50px);
        opacity: 0;
        visibility: hidden;
        transition: .3s;
    }

        .dropdown .Dropdown-Conteudo::before {
            content: " ";
            position: absolute;
            left: 50%;
            top: -6px;
            background: #fff;
            width: 12px;
            height: 12px;
            transform: translateX(-50%) rotate(45deg);
        }

        .dropdown .Dropdown-Conteudo .conteudo .nome {
            font-weight: 800;
            font-size: 1.3rem;
            text-align: center;
            margin-bottom: 20px;
            color: #111;
        }

        .dropdown .Dropdown-Conteudo .Links li {
            list-style: none;
            line-height: 30px;
        }

            .dropdown .Dropdown-Conteudo .Links li a {
                text-decoration: none;
                color: #333;
            }

                .dropdown .Dropdown-Conteudo .Links li a i {
                    display: inline-block;
                    width: 20px;
                    margin-right: 5px;
                }

    .dropdown .divisao {
        margin: 10px 0;
        border-bottom: 1px solid rgba(0,0,0,.1);
    }

    .dropdown .dropdown-toggle {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }