* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #212d40;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    min-height: calc(100vh - 40px);
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.not-visible {
    position: fixed !important;
    left: -2000px !important;
    transition: 1s;
}

.center {
    display: flex;
    justify-content: center;
}

.white-text {
    color: whitesmoke;
}

.input, .alinhar-centro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.margem-baixo-leve {
    margin-bottom: 2rem;
}

*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: white;
}


.divisao_tab {
    max-height: 1px;
    width: 100%;
    border: 1px ridge #4e6a97;
}

.divisao-vertical {
    max-width: 1px;
    margin-left: 5vh;
    margin-right: 10vh;
    border: 1px ridge #4e6a97;
}

.espacamento {
    position: relative;
    height: 38.767px;
}

.visible {
    left: 0px!important;
    transition: 0.5s!important;
}

.botao-vermelho {
    outline: 1px solid red;
    outline-offset: 4px;
    color: red;
}

.botao-disabled {
    background-color: dimgray;
}

.botao-disabled:hover {
    width: initial;
    height: initial;
    color: initial;
    padding: initial;
    margin: initial;
}

.button-icone {
    border: none;
    background: none;
    cursor: pointer;
    color: white;
}
