* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #212d40;
    margin: 0;
    min-height: calc(100vh - 40px);
}

a{
    text-decoration: none;
}

.header {
    position: fixed;
    z-index: 98;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: #001233;
    width: 100%;
    max-height: 51.281px;
    min-height: 20px;
}

.loja_title {
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-size: 22px;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
    background-color: #001233;
}

    .loja_title:hover, .selecionado-header {
        color: #000;
        background-color: #e1e5f2;
        transition: all 0.2s;
    }

.loja {
    display: flex;
    flex-direction: row;
}

.barra_logo {
    width: 130px;
    object-fit: contain;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.left {
    display: flex;
}

.usuario {
    display: flex;
    height: 20px;
}

.barra_usuario {
    display: flex;
    width: 50px!important;
    height: 39px!important; 
    object-fit: contain;
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
}

.erro {
    color: red;
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    .barra_logo {
        width: 50px;
        object-fit: contain;
        margin-top: 0.5rem;
        margin-left: 1rem;
    }

    .header {
        display: flex;
        justify-content: space-around;
    }
}

.not-visible {
    display: none!important;
}

.center {
    display:flex;
    justify-content:center;
}

.white-text {
    color: whitesmoke;
}

.input, .alinhar-centro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.margem-baixo-leve {
    margin-bottom: 2rem;    
}

*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: white;
}


.divisao_tab {
    max-height: 1px;
    width: 100%;
    border: 1px ridge #4e6a97;
}

.divisao-vertical {
    max-width: 1px;
    margin-left: 5vh;
    margin-right: 10vh;
    border: 1px ridge #4e6a97;
}
.espacamento {
    position: relative;
    height: 38.767px;
}