.fundo {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.57);
}

.modal {
    background-color: #1a2332;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 3%;
    max-width: 600px;
}

.titulo-modal, .corpo-modal, .opcoes-modal {
    padding: 20px;
}

.titulo-modal {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
    font-weight: 900;
}

.opcoes-modal {
    display: flex;
    justify-content:flex-end;
    width: 100%;
}

.botao-modal {
    background-color: #001233;
    cursor: pointer;
    color: #e1e5f2;
    border-radius: 20%;
    outline: none;
    border: none;
    padding: 8px;
    margin-left: 20px;
    transition: 0.5s;
}

    .botao-modal:hover {
        background-color: #e1e5f2;
        color: #000;
        transition: 0.2s;
    }

    .botao-modal:active {
        background-color: #7083c2;
        color: #000;
        transition: 0.1s;
    }
