.suporte {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
}


.botoes {
    display: flex;
    flex-direction: column;
}


.botao1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #191a1b;
    width: 120px;
    height: 40px;
    border-radius: 1vh;
    font-size: 14pt;
}

.botao1:hover {
    color: #000;
    background-color: #e1e5f2;
    transition: all 0.2s;
}

.botao1:active {
    color: #000;
    background-color: #e1e5f2;
    transition: all 0.2s;
}

.botoes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

.botao {
    margin-top: 2vh;
    margin-left: 2vh;
    margin-right: 2vh;
    padding: 1vh;
    font-size: 2.3vh;
    background: #191a1b;
    border-radius: 1vh;
}

.botao:hover {
    color: #000;
    background-color: #e1e5f2;
    transition: all 0.2s;
}

.botao:active {
    color: #000;
    background-color: #e1e5f2;
    transition: all 0.2s;
}

.forum {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    background: black;
    width: 1500px;
    height: 800px;
    background-color: rgba(21, 23, 41, 0.532);
}

.botao2 {
    background-color: black;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vh;
    height: 6vh;
}

.botao1_espaco {
    justify-self: end;
    align-self: center;
    display: flex;
    justify-content: end;
    grid-column: 2;
    grid-row: 2;
    width: 30vh;
}

.tudo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 0.2fr 3fr;
}


@media screen and (max-width: 1500px) {
    .forum {
        width: 1000px;
        height: 500px;
    }

    .botao1 {
        width: 120px;
        height: 35px;
        font-size: 13pt;
    }

    .botao2 {
        width: 38vh;
        height: 7vh;
        font-size: 9pt;
    }
}

@media screen and (max-width: 1300px) {
    .forum {
        width: 800px;
        height: 350px;
    }

    .botao1 {
        width: 100px;
        height: 30px;
        font-size: 11pt;
    }

    .botao2 {
        width: 30vh;
        height: 6vh;
        font-size: 7pt;
    }
}

@media screen and (max-width: 800px) {
    .forum {
        width: 500px;
        height: 350px;
    }

    .botao1 {
        width: 100px;
        height: 25px;
        font-size: 10pt;
    }

    .botao2 {
        width: 30vh;
        height: 6vh;
        font-size: 7pt;
    }
}
